/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.img-ping {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
    transform: scale(1.02);
  }
}
